body {
  background-color: #c1cc99;
}

.dashboard {
  height: 100%;
}

/* left coloumn style */

.downward {
  margin-top: 20px;
}

.leftColumn {
  background-color: rgba(245, 166, 91, 0.6);
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  height: 850px;
  overflow-y: scroll;
  /* border-radius: 20px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.leftColumn::-webkit-scrollbar {
  width: 8px;
}

.favorited-messages::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}

.leftColumn::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #8b9474;
}

.entryLabel {
  margin-top: 20px;
  /* line-height: 0.4; */
}

.entryBody {
  margin-top: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

/*Right Column Styling */

.rightColumn {
  margin-top: 10px;
}

.calendar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.messages {
  height: 500px;
}

.entry-header {
  position: relative;
}

.entry-delete {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.entry:hover .entry-delete {
  opacity: 1;
}

.deleteButton {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none; /* Remove box shadow */
  outline: none; /* Remove outline */
}

.editButton {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none; /* Remove box shadow*/
  outline: none; /*Remove outline*/
}

/* react calendar styles */

.react-calendar {
  width: 650px;
  max-width: 100%;
  background: white;
  border: 2px solid #8b9474;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.6em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: lightgrey;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #c7ecc7;
}

.react-calendar__tile--now {
  background: #f5a65b;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f5a65b;
}

.react-calendar__tile--hasActive {
  background: #0d4b88;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #8b9474;
}

.react-calendar__tile--active {
  background: #6cae75;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6cae75;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}
